{% extends "base.html" %}
{% block content %}
    <h2>{{page_title}}</h2>
        
        <p>
        From humble beginnings, Jeun by Rokus has grown to become the largest West African food chain in the UK.
        Spanning over two decades of service, our reputation for providing traditional quality food is synonymous
        amongst the African community. We pride ourselves on offering authentic and affordable food, for all occasions.
        We deliver nothing but excellence in our products and services, with consistency fundamental to our business. As
        a household name, our outlets offer a safe environment for dine in or takeaway customers. With over 16 units, we
        offer convenient African cuisine that is simply tasty! Whether the little boy grabbing Puff Puff after school or
        the Mum looking to hire a caterer for her daughter’s wedding, our customers are at the heart of everything we
        do.
        </p>
        

        <div class="row featurette">
            <div class="col-md-7">
                <h3>Mrs Rokus</h3>
                    <p>
                        Mrs rokus is the pioneer of jeun by rokus. In the year 1956, she decided to o be the pioneer of
                        high quality, affordable and authentic African cuisine, promoting the true culture of Africa.
                        Jeun By rokus's personality is reflected in
                        our tone of voice, as well as our customer facing
                        interactions
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fcom.ft.imagepublish.upp-prod-eu.s3.amazonaws.com%2Fffe83790-09ff-11ea-8fb7-8fcec0c3b0f9?fit=scale-down&source=next&width=700" alt="">
                </div>
            </div>
        
            <div class="row featurette">
                <div class="col-md-5">
                    <img src="https://media.istockphoto.com/photos/black-man-and-two-black-boys-playing-with-a-ball-on-grass-picture-id473057904" alt="">
                </div>
                <div class="col-md-7">
                    <h3>Fola and the Two T's</h3>
                    <p>
                        Fola and the two tees both decided to ensure that The Core Values of Jeun by Rokus are vital
                        elements that have made the thriving company what it is today,
                        and what it will become in the future.
                    </p>
                </div>
            </div>
  
{% endblock %}